{% extends 'base.html' %}
{% load static %}
{% block title %}DISPENSARY RECORD{% endblock %}
{% block content %}
<div class="container mx-auto p-4">
    <span class="flex justify-center p-4 gap-4 text-xl">
        {% if dispensary_locker %}
        <a href="{% url 'unit_dispensary' dispensary_locker.unit.id %}" class="text-teal-600 hover:text-teal-800 transition-colors duration-300">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2 class="text-center text-teal-700 uppercase font-bold">{{ dispensary_locker.unit.name }} Dispensary Records</h2>
        {% endif %}
    </span>
    <div class="md:mx-20 mx-2 rounded-xl shadow-lg bg-white">
        <div class="overflow-x-auto rounded-lg">
            <table class="min-w-full divide-y divide-emerald-200 ">
                <thead class="bg-emerald-500">
                    <tr>
                        <th class="p-3 text-left text-xs font-medium text-white uppercase tracking-wider">#</th>
                        <th class="p-3 text-left text-xs font-medium text-white uppercase tracking-wider">Patient</th>
                        <th class="p-3 text-left text-xs font-medium text-white uppercase tracking-wider">Drug</th>
                        <th class="p-3 text-left text-xs font-medium text-white uppercase tracking-wider">Trade Name</th>
                        <th class="p-3 text-left text-xs font-medium text-white uppercase tracking-wider">Strength</th>
                        <th class="p-3 text-left text-xs font-medium text-white uppercase tracking-wider">Quantity</th>
                        <th class="p-3 text-left text-xs font-medium text-white uppercase tracking-wider">Date</th>
                        <th class="p-3 text-left text-xs font-medium text-white uppercase tracking-wider">Dispensed By</th>
                        <th class="p-3 text-left text-xs font-medium text-white uppercase tracking-wider">Edit</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-emerald-100">
                    {% for d in dispensed_list %}
                    <tr class="hover:bg-emerald-50 transition-colors duration-300">
                        <td class="p-3 whitespace-nowrap text-sm text-gray-700">{{forloop.counter}}</td>
                        <td class="p-3 whitespace-nowrap text-sm text-gray-700">{{ d.patient_info|default_if_none:'' }}</td>
                        <td class="p-3 whitespace-nowrap text-sm text-gray-700">{{ d.drug.generic_name|default_if_none:'' }}</td>
                        <td class="p-3 whitespace-nowrap text-sm text-gray-700">{{ d.drug.trade_name|default_if_none:'' }}</td>
                        <td class="p-3 whitespace-nowrap text-sm text-gray-700">{{ d.drug.strength|default_if_none:'' }}</td>
                        <td class="p-3 whitespace-nowrap text-sm text-gray-700">{{ d.quantity|default_if_none:'' }}</td>
                        <td class="p-3 whitespace-nowrap text-sm text-gray-700">{{ d.updated|default_if_none:'' }}</td>
                        <td class="p-3 whitespace-nowrap text-sm text-gray-700">{{ d.dispensed_by|default_if_none:'' }}</td>
                        <td class="p-3 whitespace-nowrap text-sm">
                            <a href="#" class="text-teal-600 hover:text-teal-800 transition-colors duration-300">
                                <i class="fa fa-solid fa-edit fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9" class="p-3 text-center text-sm text-gray-500">No records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}