{% extends "base.html" %}
{% load static %}
{% block title %}Expiry Date Notification{% endblock %}
{% block content %}
<div class="md:container md:mx-auto mx-1">
    
    <div class="flex justify-center p-2 gap-4 text-xl">
        <div>
            <a href="{% url 'main_store' %}" ><i class="fa-solid fa-arrow-left"></i></a>    
        </div>
        <div>
            <h1 class="text-lg font-medium text-yellow-600 uppercase">Drug Expiry Notifications</h1>
        </div>
    </div>
    <div class="flex justify-center gap-4">
                           <!-- Search Form -->
                           <form method="get" class="flex flex-col sm:flex-row items-center space-y-2 sm:space-y-0 sm:space-x-2 ">
                            <div class="flex items-center w-full sm:w-auto">
                                <label for="q" class="sr-only">Search</label>
                                <input type="text" name="q" id="q" value="{{ query|default_if_none:'' }}" placeholder="Search Drugs..."
                                    class="focus:ring-amber-500 focus:border-amber-500 block shadow-sm text-xs border-gray-300 rounded-md w-full sm:w-60">
                            </div>
                            <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
                                <i class="fas fa-search"></i>
                            </button>
                            {% if request.GET.urlencode %}
                            <a href="?" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-amber-500 hover:bg-amber-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500">
                                <i class="fas fa-rotate"></i>
                            </a>
                            {% endif %}
                
                        </form>
       
        <!-- Notification Box -->
        <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-2 mb-2 text-xs w-fit" role="alert">
            <div class="md:flex md:items-center md:space-x-4 grid grid-cols-2 gap-4">
                <div class="flex items-center">
                    <span class="bg-blue-500 text-white text-xs font-bold rounded-full h-6 w-6 flex items-center justify-center">{{ total_expiring_in_6_months }}</span>
                    <span>&nbsp;Expiring within 6 months</span>
                </div>
                <div class="flex items-center">
                    <span class="bg-yellow-500 text-white text-xs font-bold rounded-full h-6 w-6 flex items-center justify-center">{{ total_expiring_in_3_months }}</span>
                    <span>&nbsp;Expiring within 3 months</span>
                </div>
                <div class="flex items-center">
                    <span class="bg-orange-500 text-white text-xs font-bold rounded-full h-6 w-6 flex items-center justify-center">{{ total_expiring_in_1_month }}</span>
                    <span>&nbsp;Expiring within 1 month</span>
                </div>
                <div class="flex items-center">
                    <span class="bg-rose-500 text-white text-xs font-bold rounded-full h-6 w-6 flex items-center justify-center">{{ total_expired }}</span>
                    <span>&nbsp;Expired</span>
                </div>
            </div>
        </div>
        
    </div>
    
    <!-- Table -->
    <div class="overflow-x-auto max-h-[65vh] border rounded-lg shadow-lg">
        <table class="min-w-full divide-y divide-blue-200">
            <thead class="bg-yellow-300">
                <tr class="text-xs">
                    <th class="p-1 text-center text-xs font-medium text-gray-700 uppercase tracking-wider">#</th>
                    <th class="p-1 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">Generic Name</th>
                    <th class="p-1 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">Trade Name</th>
                    <th class="p-1 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">Strength</th>
                    <th class="p-1 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">Expiration Date</th>
                    <th class="p-1 text-center text-xs font-medium text-gray-700 uppercase tracking-wider">Status</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-blue-200">
                {% for drug in drugs %}
                <tr class="hover:bg-yellow-50 transition ease-in-out duration-150 text-xs">
                    <td class="p-2 whitespace-nowrap text-center font-medium text-gray-900">{{ forloop.counter }}</td>
                    <td class="p-2 whitespace-nowrap  text-gray-600">{{ drug.generic_name|default_if_none:'' }}</td>
                    <td class="p-2 whitespace-nowrap  text-gray-600">{{ drug.trade_name|default_if_none:'' }}</td>
                    <td class="p-2 whitespace-nowrap  text-gray-600">{{ drug.strength|default_if_none:'' }}</td>
                    <td class="p-2 whitespace-nowrap  text-gray-600">{{ drug.expiration_date|default_if_none:'' }}</td>
                    <td class="p-2 whitespace-nowrap text-center">
                        {% if drug.status == 'expired' %}
                        <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-rose-50 text-red-600">
                            <i class="fas fa-exclamation-triangle mr-2"></i>Expired!
                        </span>
                        {% elif drug.status == 'urgent' %}
                            <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-orange-50 text-orange-500">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Expiring in less than 31 days
                            </span>
                        {% elif drug.status == 'critical' %}
                            <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-yellow-50 text-yellow-500">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Expiring in less than 3 months
                            </span>
                        {% elif drug.status == 'expiring_soon' %}
                            <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-blue-50 text-blue-500">
                                <i class="fas fa-exclamation-circle mr-2"></i>Expiring in less than 6 months
                            </span>
                        {% else %}
                            <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-green-50 text-green-500">
                                <i class="fas fa-check-circle mr-2"></i>OK – Expiring in more than 6 months
                            </span>
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    {% if is_paginated %}
    <div class="mt-2 flex items-center justify-between">
        <p class="text-sm text-gray-600">
            Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </p>
        <div class="flex space-x-2">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="px-4 py-2 bg-white border border-gray-300 text-gray-700 text-sm font-medium rounded-md hover:bg-gray-50">
                    <i class="fas fa-angle-double-left"></i>
                    </a>
                <a href="?page={{ page_obj.previous_page_number }}" class="px-4 py-2 bg-white border border-gray-300 text-gray-700 text-sm font-medium rounded-md hover:bg-gray-50">
                <i class="fas fa-angle-left"></i>
                    </a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="px-4 py-2 bg-white border border-gray-300 text-gray-700 text-sm font-medium rounded-md hover:bg-gray-50">
                    <i class="fas fa-angle-right"></i>
                    </a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="px-4 py-2 bg-white border border-gray-300 text-gray-700 text-sm font-medium rounded-md hover:bg-gray-50">
                <i class="fas fa-angle-double-right"></i>
                    </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
