{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Drugs Inventory{% endblock %}

{% block content %}
<h1 class="text-lg text-center font-bold text-gray-900 m-2">Drug Inventory Report Filters</h1>
<div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-end items-center m-2 space-x-2">
    {% if request.GET.urlencode %}
    <div class="flex justify-center gap-2 mb-4">
        <a href="{% url 'drug_pdf' %}?{{ request.GET.urlencode }}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
            <i class="fas fa-file-pdf mr-2"></i> Generate PDF
        </a>
        <a href="?" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
            <i class="fas fa-rotate mr-2"></i> Reset
        </a>
    </div>
    {% endif %}
</div>
    <!-- Filter Form -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-8">
        <form method="get" class="space-y-1 text-xs">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
            {% for field in drugfilter.form %}
               <div>
                   <label for="{{ field.id_for_label }}" class="block text-xs font-medium text-gray-700">{{ field.label }}</label>
                   {% if field.field.widget.input_type == 'select' %}
                   <select name="{{ field.name }}" id="{{ field.id_for_label }}" 
                   class="mt-1 focus:ring-cyan-500 focus:border-cyan-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
               {% for choice in field.field.choices %}
                   <option value="{{ choice.0 }}" {% if choice.0 == field.value %}selected{% endif %}>
                       {{ choice.1 }}
                   </option>
               {% endfor %}
           </select>
                   {% else %}
                       <input type="{{ field.field.widget.input_type }}" 
                              name="{{ field.name }}" 
                              id="{{ field.id_for_label }}" 
                              value="{{ field.value|default:'' }}"
                              class="mt-1 focus:ring-cyan-500 focus:border-cyan-500 block w-full shadow-sm text-xs border-gray-300 rounded-md"
                       >
                   {% endif %}
                   {% if field.errors %}
                       <p class="mt-2 text-sm text-red-600">{{ field.errors.0 }}</p>
                   {% endif %}
               </div>
            {% endfor %}
            </div>
            <div class="flex justify-end">
                <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
                    <i class="fas fa-search mr-2"></i> Search
                </button>
            </div>
        </form>
    </div>
    {% if request.GET.urlencode %}
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="overflow-x-auto max-h-[70vh]">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-cyan-800">
                    <tr>
                        <th scope="col" class="px-6  text-left text-xs font-medium text-white uppercase tracking-wider">#</th>
                        <th scope="col" class="px-6  text-left text-xs font-medium text-white uppercase tracking-wider">SUpplyDate</th>
                        <th scope="col" class="px-6  text-left text-xs font-medium text-white uppercase tracking-wider">Category</th>
                        <th scope="col" class="px-3  text-left text-xs font-medium text-white uppercase tracking-wider">Drug info</th>
                        <th scope="col" class="px-3  text-left text-xs font-medium text-white uppercase tracking-wider">Brand & Supplier</th>
                        <th scope="col" class="px-6  text-left text-xs font-medium text-white uppercase tracking-wider">Dosage Form</th>
                        <th scope="col" class="px-6  text-left text-xs font-medium text-white uppercase tracking-wider">Pack Size</th>
                        <th scope="col" class="px-6  text-left text-xs font-medium text-white uppercase tracking-wider">Cost Price</th>
                        <th scope="col" class="px-6  text-left text-xs font-medium text-white uppercase tracking-wider">Total Drugs</th>
                        <th scope="col" class="px-6  text-left text-xs font-medium text-white uppercase tracking-wider">Balance</th>
                        <th scope="col" class="px-6  text-left text-xs font-medium text-white uppercase tracking-wider">Total Value</th>
                        <th scope="col" class="px-6  text-left text-xs font-medium text-white uppercase tracking-wider">Expiry Date</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for i in po %}
                    <tr class="{% cycle 'bg-white hover:bg-cyan-50' 'bg-cyan-50 hover:bg-cyan-100' %} text-xs text-center">
                        <td class="px-6 py-4 whitespace-nowrap  text-gray-500">{{ forloop.counter }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ i.updated_at|date:'d-m-Y'|default_if_none:'N/A' }}<br> <small> added by: {{ i.added_by }}</small></td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ i.category|default_if_none:'N/A' }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  font-medium text-gray-900">{{ i.name|default_if_none:'N/A' }}<br><small >{{ i.generic_name|default_if_none:'N/A' }}</small></td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ i.brand_name|default_if_none:'N/A' }}<br> <small>{{ i.supplier|default_if_none:'N/A' }} </small></td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ i.dosage_form|default_if_none:'N/A' }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ i.pack_size|default_if_none:'N/A' }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ i.cost_price|default_if_none:'N/A' }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ i.total_purchased_quantity|default_if_none:'N/A' }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{%if i.current_balance <= 0 %} <span class="text-rose-700 font-semibold">O/S</span>{%else%}{{ i.current_balance|default_if_none:'O/S' }}{%endif%}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ i.total_value|default_if_none:'N/A' }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ i.expiration_date|date:'M-Y'|default_if_none:'N/A' }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="16" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">No records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-4 flex items-center justify-between">
        <div>
            <p class="text-sm text-gray-700">
                Showing page <span class="font-medium">{{ po.number }}</span> of <span class="font-medium">{{ po.paginator.num_pages }}</span>
            </p>
        </div>
        <div class="flex-1 flex justify-end">
            {% if po.has_previous %}
            <a href="?page=1" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 mr-3">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a href="?page={{ po.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 mr-3">
                <i class="fas fa-angle-left"></i>
            </a>
            {% endif %}
            
            {% if po.has_next %}
            <a href="?page={{ po.next_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                <i class="fas fa-angle-right"></i>
            </a>
            <a href="?page={{ po.paginator.num_pages }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 ml-3">
                <i class="fas fa-angle-double-right"></i>
            </a>
            {% endif %}
        </div>
    </div>
    {%endif%}
</div>
{% endblock %}