{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Inventory{% endblock %}
{% block content %}
<div class="mx-1">
  <span class="flex justify-center p-4 gap-4 text-xl">
  <a href="{% url 'main_store' %}" ><i class="fa-solid fa-arrow-left"></i></a>
    <h1 class="text-lg  text-cyan-800 text-center uppercase">Drug Inventory</h1>
    </span>
    <div class="flex flex-wrap justify-center items-center m-2 space-x-2 gap-2">
        <a href="{% url 'create_drug' %}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
            <i class="fas fa-plus fa-2xl mr-2"></i> Add Drug
        </a>
        <a href="{% url 'drug_report' %}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
            <i class="fas fa-file-pdf fa-2xl mr-2"></i> Generate Report
        </a>
        <!-- Search Form -->
        <form method="get" class="flex flex-col sm:flex-row items-center space-y-2 sm:space-y-0 sm:space-x-2 ">
            <div class="flex items-center w-full sm:w-auto">
                <label for="q" class="sr-only">Search</label>
                <input type="text" name="q" id="q" value="{{ query|default_if_none:'' }}" placeholder="Search by name..."
                    class="focus:ring-cyan-500 focus:border-cyan-500 block shadow-sm text-xs border-gray-300 rounded-md w-full sm:w-48">
            </div>
            {% if request.GET.urlencode %}
            <a href="?" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
                <i class="fas fa-rotate"></i>
            </a>
            {% endif %}
            <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="overflow-x-auto max-h-[65vh]">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-cyan-400">
                    <tr class="text-xs text-center">
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">#</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Supply Date</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Category</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Generic Name</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Trade Name</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">strength</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Supplier</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Dosage Form</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Pack Size</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Balance</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Cost Price</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Expiry Date</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Value</th>
                        <th scope="col" class="px-3   text-center text-xs font-medium text-gray-900 uppercase tracking-wider">edit</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for i in po %}
                    <tr class="{% cycle 'bg-white' 'bg-cyan-50' %} text-xs text-center">
                        <td class="p-3 whitespace-nowrap  text-gray-500">{{ forloop.counter }}</td>
                        <td class="p-3 whitespace-nowrap  text-gray-500">{{ i.supply_date|default_if_none:'N/A' }}</td>
                        <td class="p-3 whitespace-nowrap  text-gray-500">{{ i.category|default_if_none:'N/A' }}</td>
                        <td class="p-3 whitespace-nowrap  font-medium text-gray-900">{{ i.generic_name|default_if_none:'N/A'|upper }}</td>
                        <td class="p-3 whitespace-nowrap  text-gray-500">{{ i.trade_name|default_if_none:'N/A'|upper }}</td>
                        <td class="p-3 whitespace-nowrap  font-medium text-gray-900">{{ i.strength|default_if_none:''|upper }}</td>
                        <td class="p-3 whitespace-nowrap  text-gray-500">{{ i.supplier|default_if_none:'N/A'|upper }}</td>
                        <td class="p-3 whitespace-nowrap  text-gray-500">{{ i.dosage_form|default_if_none:'N/A' }}</td>
                        <td class="p-3 whitespace-nowrap  text-gray-500">{{ i.pack_size|default_if_none:'N/A'|upper }}</td>
                        <td class="p-3 whitespace-nowrap  text-gray-500">{%if i.current_balance <= 0 %} <span class="text-rose-700 font-semibold">O/S</span>{%else%}{{ i.current_balance|default_if_none:'O/S' }}{%endif%}</td>
                        <td class="p-3 whitespace-nowrap  text-gray-500">&#x20A6;{{ i.cost_price|default_if_none:'N/A' }}</td>
                        <td class="p-3 whitespace-nowrap">
                            {% if i.expiration_date %}
                            {% if i.expiry_status == 'expired' %}
                                <span class="text-rose-700 font-semibold">
                                    {{ i.expiration_date|date:'M-Y' }}
                                    <br><small class="text-xs">(Expired!)</small>
                                </span>
                            {% elif i.expiry_status == 'urgent' %}
                                <span class="text-orange-600 font-semibold">
                                    {{ i.expiration_date|date:'M-Y' }}
                                    <br><small class="text-xs">(31 days!)</small>
                                </span>
                            {% elif i.expiry_status == 'critical' %}
                                <span class="text-yellow-500 font-semibold">
                                    {{ i.expiration_date|date:'M-Y' }}
                                    <br><small class="text-xs">(3 months to expire)</small>
                                </span>
                            {% elif i.expiry_status == 'expiring_soon' %}
                            <span class="text-blue-500">
                                {{ i.expiration_date|date:'M-Y' }}
                                    <br><small class="text-xs">(6 months to expire)</small>
                                </span>
                            {% else %}
                            <span class="text-green-500">
                                {{ i.expiration_date|date:'M-Y' }}
                                </span>
                                {% endif %}
                                {% else %}
                                <span class="text-green-500">N/A</span>
                                {% endif %}
                            </td>                      
                            <td class="p-3 whitespace-nowrap  text-gray-500">&#x20A6;{{ i.total_value|default_if_none:'N/A' }}</td>
                         <td class="p-3 whitespace-nowrap text-gray-500 text-center"><a href="{% url 'update_drug' i.id %}"><i class="fa fa-solid fa-edit fa-lg text-cyan-700"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-1 flex items-center justify-between">
        <div>
            <p class="text-sm text-gray-700">
                Showing page <span class="font-medium">{{ po.number }}</span> of <span class="font-medium">{{ po.paginator.num_pages }}</span>
            </p>
        </div>
        <div class="flex-1 flex justify-end">
            {% if po.has_previous %}
            <a href="?page=1" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-gray-50 hover:text-cyan-600 mr-3">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a href="?page={{ po.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-gray-50 hover:text-cyan-600 mr-3">
                <i class="fas fa-angle-left"></i>
            </a>
            {% endif %}
            
            {% if po.has_next %}
            <a href="?page={{ po.next_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-gray-50 hover:text-cyan-600">
                <i class="fas fa-angle-right"></i>
            </a>
            <a href="?page={{ po.paginator.num_pages }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-gray-50 hover:text-cyan-600 ml-3">
                <i class="fas fa-angle-double-right"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}