{% extends "base.html" %}
{% load static %}
{% block title %}Restocking Record{% endblock %}

{% block content %}
<span class="flex justify-center p-4 gap-4 text-xl">
    <a href="{% url 'restocked' %}" ><i class="fa-solid fa-arrow-left"></i></a>    
<h1 class="text-lg  text-blue-800 text-center uppercase">Restocking Report</h1>
</span>
<div class="max-w-7xl mx-auto px-4 ">
    <div class="flex justify-end items-center m-2 space-x-2">
        {% if request.GET.urlencode %}
            <a href="{% url 'restock_pdf' %}?{{request.GET.urlencode}}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-rose-600 hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rose-500">
                <i class="fa-solid fa-file-pdf mr-2"></i> Generate PDF
            </a>
            <a href="?" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
                <i class="fa-solid fa-rotate mr-2"></i> Reset
            </a>
            {% endif %}
        </div>

    <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-4">
        <div class="px-4 py-5 sm:p-6">
            <form method="get" class="space-y-4" value="{{ field.value|default:'' }}">
                <div class="lg:flex lg:justify-center gap-4 grid grid-cols-2">
                    {% for field in restockfilter.form %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="block text-xs font-medium text-gray-700">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'select' %}
                        <select name="{{ field.name }}" id="{{ field.id_for_label }}" 
                        class="mt-1 focus:ring-cyan-500 focus:border-cyan-500 block w-full shadow-sm text-xs border-gray-300 rounded-md">
                    {% for choice in field.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == field.value %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                    {% endfor %}
                </select>
                        {% else %}
                            <input type="{{ field.field.widget.input_type }}" 
                                   name="{{ field.name }}" 
                                   id="{{ field.id_for_label }}" 
                                   value="{{ field.value|default:'' }}"
                                   class="mt-1 focus:ring-cyan-500 focus:border-cyan-500 block w-full shadow-sm text-xs border-gray-300 rounded-md"
                            >
                        {% endif %}
                        {% if field.errors %}
                            <p class="mt-2 text-sm text-red-600">{{ field.errors.0 }}</p>
                        {% endif %}
                    </div>
                 {% endfor %}
                    <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        <i class="fa-solid fa-search mr-2"></i> Search
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% if request.GET.urlencode %}
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="overflow-x-auto max-h-[70vh]">
            <div class="bg-white">
                <p class="p-2 whitespace-nowrap text-xs text-blue-700 text-center uppercase">
                    Restocked: {{ total_appearance }} {%if total_appearance > 1 %} times {%else%} Once {%endif%} - Quantity: {{ total_quantity }} - Value: &#x20A6;{{ total_price }}
                </p>
            </div>
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-blue-400">
                    <tr class="text-xs text-gray-900">
                        <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">#</th>
                        <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Date</th>
                        <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Category</th>
                        <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">GENERIC NAME</th>
                        <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">STRENGTH</th>
                        <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">TRADE NAME</th>
                        <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Supplier</th>
                        <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Quantity</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for r in restockfilter.qs %}
                    <tr class="{% cycle 'bg-white' 'bg-blue-50' %} hover:bg-blue-100 transition duration-150 ease-in-out text-xs">
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ forloop.counter }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ r.updated|default_if_none:'N/A' }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ r.drug.category|default_if_none:'N/A' }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  font-medium text-gray-900">{{ r.drug.generic_name|default_if_none:'N/A'|upper }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  font-medium text-gray-900">{{ r.drug.strength|default_if_none:''|upper }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ r.drug.trade_name|default_if_none:'N/A'|upper }} </td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ r.drug.supplier|default_if_none:'N/A'|upper }}</td>
                        <td class="px-3 py-4 whitespace-nowrap  text-gray-500">{{ r.quantity|default_if_none:'N/A' }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="12" class="px-3 py-4 whitespace-nowrap text-sm text-gray-500 text-center">No records found</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    <div class="mt-4 flex items-center justify-between">
        <div>
            <p class="text-sm text-gray-700">
                Showing page <span class="font-medium">{{ po.number }}</span> of <span class="font-medium">{{ po.paginator.num_pages }}</span>
            </p>
        </div>
        <div class="flex-1 flex justify-end">
            {% if po.has_previous %}
            <a href="?page=1" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 mr-3">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a href="?page={{ po.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 mr-3">
                <i class="fas fa-angle-left"></i>
            </a>
            {% endif %}
            
            {% if po.has_next %}
            <a href="?page={{ po.next_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                <i class="fas fa-angle-right"></i>
            </a>
            <a href="?page={{ po.paginator.num_pages }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 ml-3">
                <i class="fas fa-angle-double-right"></i>
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}