{% extends 'base.html' %}
{% load humanize %}
{% block title %}{{ store.name }} - DISPENSARY LOCKER{% endblock %}
{% block content %}
    <div class="container mx-auto p-4">
        <span class="flex justify-center p-4 gap-4 text-xl">
            <a href="{% url 'unit_dashboard' store.pk %}" ><i class="fa-solid fa-arrow-left"></i></a>
            <h2 class="text-center text-teal-700 uppercase">{{ store.name }} dispensary locker</h2>
        </span>
        <h3 class="text-lg uppercase">locker worth: <span class="text-green-700">&#x20A6;{{total_worth}}</span></h3>
        <!-- Unit Issue Records Table -->
        <div class="mt-4 bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="overflow-x-auto max-h-[65vh]">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-fuchsia-500">
                        <tr class="text-xs text-center text-white uppercase">
                            <th scope="col" class="px-4 py-2 font-medium tracking-wider">#</th>
                            <th scope="col" class="px-4 py-2 font-medium tracking-wider">Generic Drug</th>
                            <th scope="col" class="px-4 py-2 font-medium tracking-wider">Strength</th>
                            <th scope="col" class="px-4 py-2 font-medium tracking-wider">Trade Drug</th>
                            <th scope="col" class="px-4 py-2 font-medium tracking-wider">Balance QTY</th>
                            <th scope="col" class="px-4 py-2 font-medium tracking-wider">Date restocked</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for r in dispensary_drugs %}
                        <tr class="{% cycle 'bg-white' 'bg-fuchsia-50' %} text-xs text-center">
                            <td class="px-4 py-2 text-gray-700">{{ forloop.counter }}</td>
                            <td class="px-4 py-2 font-medium text-gray-800">{{ r.drug.generic_name|default_if_none:'N/A'|upper }}</td>
                            <td class="px-4 py-2 font-medium text-gray-800">{{ r.drug.strength|default_if_none:'N/A'|upper }}</td>
                            <td class="px-4 py-2 font-medium text-gray-800">{{ r.drug.trade_name|default_if_none:'N/A'|upper }}</td>
                            <td class="px-4 py-2 font-medium text-gray-800">{{ r.quantity|default_if_none:''|upper }}</td>
                            <td class="px-4 py-2 text-gray-700">{{ r.updated|date:"d-M-Y" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



        <!-- Pagination and Back Button -->
        <div class="mt-4 flex items-center justify-between">
            <div>
                <p class="text-sm text-gray-600">
                    Showing page <span class="font-medium">{{ po.number }}</span> of <span class="font-medium">{{ po.paginator.num_pages }}</span>
                </p>
            </div>
            <div class="flex space-x-2">
                {% if po.has_previous %}
                <a href="?page=1" class="inline-flex items-center px-3 py-1 border border-gray-300 text-sm font-medium rounded-md text-white bg-fuchsia-600 hover:bg-fuchsia-700">
                    <i class="fas fa-angle-double-left"></i>
                </a>
                <a href="?page={{ po.previous_page_number }}" class="inline-flex items-center px-3 py-1 border border-gray-300 text-sm font-medium rounded-md text-white bg-fuchsia-600 hover:bg-fuchsia-700">
                    <i class="fas fa-angle-left"></i>
                </a>
                {% endif %}

                {% if po.has_next %}
                <a href="?page={{ po.next_page_number }}" class="inline-flex items-center px-3 py-1 border border-gray-300 text-sm font-medium rounded-md text-white bg-fuchsia-600 hover:bg-fuchsia-700">
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="?page={{ po.paginator.num_pages }}" class="inline-flex items-center px-3 py-1 border border-gray-300 text-sm font-medium rounded-md text-white bg-fuchsia-600 hover:bg-fuchsia-700">
                    <i class="fas fa-angle-double-right"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
